.assortments .TopName {
  display: inline-block;
  margin: 15px 0 0 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #26a0c8;
  font-size: 12px;
  font-weight: 600;
}
.assortments .BBTable {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}
.assortments .BBTable thead {
  background-color: #d4dee0;
  color: #747880;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.assortments .BBTable tbody {
  color: #282b34;
  font-weight: 600;
}
.assortments .BBTable tbody td {
  padding: 10px;
}
