.ProductsList {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
}
.ProductsList thead tr {
  border-bottom: 2px solid #d8e2e5;
}
.ProductsList thead th {
  position: relative;
  white-space: nowrap;
  color: #747880;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: bottom;
  padding: 10px 10px 12px 10px;
}
.ProductsList thead th input[type="checkbox"] + label {
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  color: #747880;
  margin-left: 10px;
}
.ProductsList thead th:nth-child(1) {
  padding-right: 0;
}
.ProductsList thead th:nth-child(6) {
  text-align: right;
}
.ProductsList thead th:nth-child(7) {
  text-align: right;
}
.ProductsList tbody {
  font-size: 13px;
}
.ProductsList tbody tr {
  border-bottom: 1px solid #d8e2e5;
}
.ProductsList tbody tr:last-child {
  border-bottom: none;
}
.ProductsList tbody td {
  position: relative;
  vertical-align: top;
  padding: 10px;
}
.ProductsList tbody td:nth-child(1) {
  vertical-align: middle;
  padding-right: 0;
}
.ProductsList tbody td:nth-child(4) {
  white-space: nowrap;
}
.ProductsList tbody td:nth-child(5) {
  white-space: nowrap;
}
.ProductsList tbody td:nth-child(7) {
  text-align: right;
}
.ProductsList tbody td:nth-child(8) {
  text-align: right;
}
.ProductsList tbody .New {
  position: relative;
  overflow: hidden;
}
.ProductsList tbody .New:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #3dc054 transparent transparent transparent;
}
.ProductsList tbody .New:after {
  display: block;
  content: "New";
  position: absolute;
  top: 6px;
  left: 1px;
  color: #ffffff;
  font-size: 9px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ProductsList tbody .ProductName {
  display: block;
  color: #26a0c8;
  font-weight: 600;
}
.ProductsList tbody .ProductName:hover {
  color: #1f85a6;
}
.ProductsList tbody .ProductDescription {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 7px;
  font-weight: normal;
  color: #96a7ac;
}
.ProductsList tbody .Progres {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 10px;
  border-radius: 10px;
  background-color: #d8e2e5;
}
.ProductsList tbody .Progres .Up,
.ProductsList tbody .Progres .Down {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 10px;
  border-radius: 10px;
}
.ProductsList tbody .Progres .Up {
  background-color: #3dc054;
}
.ProductsList tbody .Progres .Down {
  background-color: #f56e74;
}
.ProductsList tbody .Trend {
  font-family: 'Flaticons Stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
.ProductsList tbody .Trend:before {
  display: block;
  font-size: 14px;
  content: "";
  color: #d8e2e5;
}
.ProductsList tbody .Trend.Up:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #3dc054;
}
.ProductsList tbody .Trend.Down:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #f56e74;
}
.ProductsList tbody .Stars {
  display: block;
  margin: 0 auto;
  position: relative;
  font-family: 'Flaticons Solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  cursor: default;
}
.ProductsList tbody .Stars:before {
  content: "";
  color: #d8e2e5;
}
.ProductsList tbody .Stars:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  color: #f39c12;
}
.ProductsList tbody .Stars.x1:after {
  content: "";
}
.ProductsList tbody .Stars.x2:after {
  content: "";
}
.ProductsList tbody .Stars.x3:after {
  content: "";
}
.ProductsList tbody .Stars.x4:after {
  content: "";
}
.ProductsList tbody .Stars.x5:after {
  content: "";
}
.ProductsList tbody .RatingNo {
  display: block;
  padding-left: 10px;
  color: #96a7ac;
  padding-top: 7px;
}
.ProductsList tbody .Price1 {
  color: #747880;
  line-height: 1.1;
}
.ProductsList tbody .Price2,
.ProductsList tbody .Price3,
.ProductsList tbody .MarginPrice {
  color: #b2b2b2;
  line-height: 1.1;
}
.ProductsList tbody .MarginValue {
  line-height: 1.1;
}
.ProductsList tbody .MarginValue.Up {
  color: #3dc054;
}
.ProductsList tbody .MarginValue.Down {
  color: #f56e74;
}
.ProductsList tbody .FoundOnLists {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  list-style-type: disc;
  color: #b2b2b2;
}
.ProductsList tbody .Upgrade {
  display: block;
  color: #96a7ac;
  font-size: 11px;
  padding-top: 5px;
}
.ProductsList tbody .Upgrade:hover {
  color: #747880;
}
