@import "Variables.less";

/*#region SelectedFilters */

.SelectedFilters {
    input[type="checkbox"]:after {
        top: 2px;
    }
}

/*#endregion */

/*#region Filters */

.Filters {
    position: relative;
    background-color: #2e313a;

    .FBox {
        position: relative;
        border-bottom: 10px solid #4b4f5d;
        padding: 10px;

        .FBoxMainTable {
            width: 100% !important;
            color: #d4dee0;

            td {
                vertical-align: top;
                padding: 15px;

                td {
                    vertical-align: middle;
                    padding: 0px;
                }
            }

            .CTW1 {
                padding: 15px 8px 15px 15px;
            }

            .CTW2 {
                padding: 15px 12px 15px 12px;
            }

            .CTW3 {
                padding: 15px 15px 15px 8px;
            }
        }

        .FName {
            font-size: 16px;
            color: #d4dee0;
            width: 140px;
        }

        .input-icon-wrapper {
            position: relative;

            i {
                position: absolute;
                top: 8px;
                left: 8px;
                font-size: 16px;
                color: @gray-light;
            }

            input {
                padding-left: 30px;
            }
        }

        input[type="text"] {
            width: 240px;
            color: @gray-dark;
        }
    }

    .Category {
        padding: 5px;

        .CategoryTableWrapper {
            width: 33% !important;
        }

        .CategoryTable {
            width: 100%;
            background-color: #fff;
            color: #747880;
            border-radius: 5px;
            overflow: hidden;

            //Scroolbars
            display:block;
            position:relative;
            vertical-align:top;
            padding-top:25px;
            thead {
                display:block;
                width: 100%;
                position:absolute;
                top:0;
                left:0;
                z-index:9999;
                th:nth-child(1) {
                    width: 100%;
                }
                th:nth-child(2), th:nth-child(3) {
                    min-width: 60px;
                }
                th:nth-child(4) {
                    min-width: 92px;
                    padding-right:17px;
                }
            }
            tbody {
                display:block;
                width: 100%;
                max-height:400px;
                overflow-y:scroll;
                td:nth-child(1) {
                    width: 100%;
                }
                td:nth-child(2), td:nth-child(3){
                    min-width: 60px;
                }
                td:nth-child(4) {
                    min-width: 75px;
                }

            }
            


            thead {
                tr {
                    background: #d4dee0;
                }

                th {
                    color: #747880;
                    font-size: 11px;
                    font-weight: 600;
                    white-space: nowrap;
                    padding: 7px 5px;
                }

                /*th:nth-child(1) {
                    width: 100%;
                }*/

                th:nth-child(4) {
                    text-align: right;
                }
            }

            tbody {
                tr {
                    &.active, &:hover {
                        color: #000;

                        td {
                            font-weight: 600;
                        }

                        td:nth-child(1) {
                            padding: 5px 3px 5px 5px;
                        }

                        td:nth-child(4) {
                            padding: 5px 5px 5px 3px;
                        }
                    }

                    &.active {
                        background: #88b4b6 !important;
                    }
                }

                tr:nth-child(even) {
                    background: #e8f0f2;
                }

                td {
                    width: auto;
                    font-size: 12px;
                    padding: 5px 5px;
                    cursor: pointer;
                    vertical-align: top;
                }

                td:nth-child(1) {
                    //white-space: nowrap;
                    line-height: 1.3;
                }

                td:nth-child(4) {
                    text-align: right;
                }
            }

            &.CatL2 {
                display: none;

                &.active {
                    //display: table;
                    display: block;
                }
            }

            &.CatL3 {
                display: none;

                &.active {
                    //display: table;
                    display: block;
                }
            }

            .Progres {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 10px;
                border-radius: 10px;
                background-color: @gray-lighter;
                margin-top: 2px;

                .Up, .Down {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    height: 10px;
                    border-radius: 10px;
                }

                .Up {
                    background-color: #3dc055;
                }

                .Down {
                    background-color: #e74c3c;
                }
            }
        }

        .CategoryBlankBox {
            vertical-align: middle;
            text-align: center;
            padding: 0px 30px 30px 30px;
            line-height: 1.4;
            background-color: #d4dee0;
            color: #747880;
            border-radius: 5px;
            opacity: 0.8;
            width: 33%;

            .Text:before {
                display: block;
                content: "";
                margin: 0 auto;
                margin-bottom: 20px;
                width: 41px;
                height: 41px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAApCAYAAACoYAD2AAACVElEQVRYw82Z30sCQRDHT02jCPRB8iGiPyECxcujp9QnoZcIQiF6qV56yeNUKJKiSAjyR6H+t83CHBzbnt7M7pkPHw5kb/br3uzszKzldvsWkyxQBppAGxgAQ2COzwH+3sRxWe5c1BdSOOEDMENBUZmhaBvtGBeZACrAO1FYGMKOg3aNiNwFPEPiZDy0ryWyCIxiEugj7Je4Ik8ZfsdFzFOliqyuSJxMLarIInMFJ+hj90AXGDNXtLhMZIHhg0/AIbAh2UoDR8Ajw0cLYSITjF18qRAnkwQuiHY7wfAUNFYhGmoSD4Im0b4ji0wRA/VLhBWUEeNfiQE/FRRpE//liUJEBtgHDvCZUYyhfi07KLJN3IE7imOzL43rK469bWBKmKvti8wRQ84Xbobg5HshY7cUq/lGXJCshVnNnLH7WsgVpmVRRT4T5ypzdh2FTYXIT6KNlnjJNSjqB91BcK0QmOd8NfHihyGBZwpflWkw7A4sg6lYOkK5MeSkcpbBnHCRwLRO4mxqJYcLBOYxGrAXwJRPhok8Z6Zsf3zSjVHk0IDtjqk4+a3Y2Un8Xdd2i3viqLjFxMPnxpDdMufsXiVCV87/NN6aivR08kkVDcwlfRoGbB7rZOaqSlG1uyearZiUXOM4axaCnLBqsbMmIkOrRW7dPceSIKtIKKbMPKAQVwdjgLFSxMe7Bdm6dgfDp/5PIadO7arVVtxVq3H7kyUDWcwyxjr9yWCntxeTwJ68SXR75s4698zl2wcbOwuc2wc3ztuHsMLKlu5xRoFYF7zHsXXucX4BfvkF2W6MO0oAAAAASUVORK5CYII=);
            }

            &.CatL2 {
                display: none;

                &.active {
                    display: table-cell;
                }
            }

            &.CatL3 {
                display: none;

                &.active {
                    display: table-cell;
                }
            }
        }

        .CategoryButtonsWrapper {
            padding-top: 0px !important;
        }
    }

    .Brand {

        .TopBrands {
            padding-left: 40px;
            padding-bottom: 20px;

            .Title {
                font-size: 18px;
                color: #d4dee0;
                margin-bottom: 25px;
                padding-top: 10px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    width: 20%;
                    float: left;
                    line-height: 1.5;

                    a {
                        font-size: 13px;
                        color: #d4dee0;

                        &:hover {
                            color: #fff;
                        }

                        &.active {
                            font-size: 14px;
                            color: #fff;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    .Name {
        input[type="text"] {
            width: 480px;
        }
    }

    .Demand {

        .DemandSlider {
            width: 300px;
            border: none;
            box-shadow: none;
            border-radius: 5px;
            height: 10px;
            background: #fff;

            .noUi-background {
                background: #fff;
                border-radius: 5px;
                box-shadow: none;
            }

            .noUi-origin {
                border-radius: 5px;
            }

            .noUi-connect {
                background: #3dc054;
            }

            .noUi-handle {
                background: #3dc054;
                box-shadow: none;
                border: none;
                left: -9px;
                height: 20px;
                width: 20px;
                border-radius: 50%;

                &:before, &:after {
                    display: none;
                }
            }
        }

        .DemandScale {
            width: 331px;
            margin: 0;
            padding: 0;
            margin-left: -12px;
            list-style-type: none;
            margin-top: 9px;
            height: 25px;

            li {
                &:before {
                    display: block;
                    content: "";
                    height: 2px;
                    width: 1px;
                    background-color: #7c8289;
                    margin: 0 auto;
                    margin-bottom: 5px;
                }

                display: inline-block;
                width: 7.821%;
                text-align: center;
                font-size: 12px;
                color: #d4dee0;
            }
        }

        .DemandChart {
            width: 350px;
            margin-left: -25px;
            margin-top: 10px;
        }
    }

    .Competition {

        .CompetitionSlider {
            width: 300px;
            border: none;
            box-shadow: none;
            border-radius: 5px;
            height: 10px;
            background: #fff;

            .noUi-background {
                background: #fff;
                border-radius: 5px;
                box-shadow: none;
            }

            .noUi-origin {
                border-radius: 5px;
            }

            .noUi-connect {
                background: #e74c3c;
            }

            .noUi-handle {
                background: #e74c3c;
                box-shadow: none;
                border: none;
                left: -9px;
                height: 20px;
                width: 20px;
                border-radius: 50%;

                &:before, &:after {
                    display: none;
                }
            }
        }

        .CompetitionScale {
            width: 331px;
            margin: 0;
            padding: 0;
            margin-left: -12px;
            list-style-type: none;
            margin-top: 9px;
            height: 25px;

            li {
                &:before {
                    display: block;
                    content: "";
                    height: 2px;
                    width: 1px;
                    background-color: #7c8289;
                    margin: 0 auto;
                    margin-bottom: 5px;
                }

                display: inline-block;
                width: 7.821%;
                text-align: center;
                font-size: 12px;
                color: #d4dee0;
            }
        }

        .CompetitionChart {
            width: 350px;
            margin-left: -25px;
            margin-top: 10px;
        }
    }

    .Rating {
        .RatingRange {
            .Title {
                font-size: 13px;
                margin-bottom: 9px;
            }

            .Title2 {
                font-size: 13px;
                margin-bottom: 15px;
                margin-top: 20px;
            }

            input[type="text"], input[type="number"] {
                display: inline-block;
                width: 80px;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
            }
        }

        .FBoxMainTable {
            //margin-top: 10px;
        }

        .RatingSlider {
            width: 300px;
            border: none;
            box-shadow: none;
            border-radius: 5px;
            height: 10px;
            background: #fff;

            .noUi-background {
                background: #fff;
                border-radius: 5px;
                box-shadow: none;
            }

            .noUi-origin {
                border-radius: 5px;
            }

            .noUi-connect {
                background: #26a0c8;
            }

            .noUi-handle {
                background: #26a0c8;
                box-shadow: none;
                border: none;
                left: -9px;
                height: 20px;
                width: 20px;
                border-radius: 50%;

                &:before, &:after {
                    display: none;
                }
            }
        }

        .RatingScale {
            width: 331px;
            margin: 0;
            padding: 0;
            margin-left: -12px;
            list-style-type: none;
            margin-top: 9px;
            height: 25px;

            li {
                &:before {
                    display: block;
                    content: "";
                    height: 2px;
                    width: 1px;
                    background-color: #7c8289;
                    margin: 0 auto;
                    margin-bottom: 5px;
                }

                display: inline-block;
                width: 7.821%;
                text-align: center;
                font-size: 12px;
                color: #d4dee0;
            }
        }

        .RatingChart {
            width: 350px;
            margin-left: -25px;
            margin-top: 10px;
        }
    }

    .MinPrice {
        .FBoxMainTable {
            .FName {
                padding-top: 25px;
            }
        }

        .MinPriceInputs {
            input[type="text"], input[type="number"] {
                display: inline-block;
                width: 80px;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
            }

            margin-bottom: 30px;
        }

        .MinPriceChart {
            width: 350px;
            margin-left: -25px;
            margin-top: 10px;
        }
    }

    .RRP {
        .FBoxMainTable {
            .FName {
                padding-top: 25px;
            }
        }

        .RRPInputs {
            input[type="text"], input[type="number"] {
                display: inline-block;
                width: 80px;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
            }

            margin-bottom: 30px;
        }

        .RRPChart {
            width: 350px;
            margin-left: -25px;
            margin-top: 10px;
        }
    }

    .Flags {
        .FBoxMainTable {
            .FName {
                padding-top: 25px;
            }
        }
    }
}

/*#endregion */

/*#region ProductDiscovery */

.ProductDiscovery {

    .WelcomeBox {
        display: none;
        height: 600px;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        margin-top: 100px;

        &.active {
            display: block;
        }
    }

    #result {
        display: none;

        &.active {
            display: block;
        }
    }
}

/*#endregion */

/*#region ProductDiscovery > ProductsList - Table */

.ProductsList {

    thead {

        th {
            input[type="checkbox"] {
                & + label {
                    margin: 0;
                    font-size: 11px;
                    font-weight: 600;
                    color: @gray;
                    margin-left: 10px;
                }
            }
        }

        th:nth-child(1) {
            padding-right: 0;
        }

        th:nth-child(6) {
            text-align: right;
        }

        th:nth-child(7) {
            text-align: right;
        }
    }

    tbody {
        font-size: 13px;

        td:nth-child(1) {
            vertical-align: middle;
            padding-right: 0;
        }

        td:nth-child(4) {
            white-space: nowrap;
        }

        td:nth-child(5) {
            white-space: nowrap;
        }

        td:nth-child(7) {
            text-align: right;
        }

        td:nth-child(8) {
            text-align: right;
        }

        .NewIcontrue {
            position: relative;
            overflow: hidden;

            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 30px 30px 0 0;
                border-color: @green transparent transparent transparent;
            }

            &:after {
                display: block;
                content: "new";
                position: absolute;
                top: 2px;
                left: 0px;
                color: @white;
                font-size: 9px;
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        .ProductName {
            display: block;
            color: @blue;
            font-weight: 600;

            &:hover {
                color: darken(@blue,8%);
            }
        }

        .ProductImage  {
            border-radius:4px;
        }

        .ProductDescription {
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
            padding-top: 7px;
            font-weight: normal;
            color: @gray-light;
        }

        .Progres {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 10px;
            border-radius: 10px;
            background-color: @gray-lighter;


            .Up, .Down {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 10px;
                border-radius: 10px;

                &.I1 {
                    border-radius: 50%;
                }
            }

            .Up {
                background-color: @green;
            }

            .Down {
                background-color: @red;
            }
        }

        .Trend {
            font-family: 'Flaticons Stroke';
            speak: none;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            display: inline-block;

            &:before {
                display: block;
                font-size: 14px;
                content: "";
                color: @gray-lighter;
            }

            &.Up {
                &:before {
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    color: @green;
                }
            }

            &.Down {
                &:before {
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    color: @red;
                }
            }
        }

        .Stars {
            display: block;
            margin: 0 auto;
            position: relative;
            font-family: 'Flaticons Solid';
            speak: none;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            font-size: 9px;
            cursor: default;

            &:before {
                content: "";
                color: @gray-lighter;
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                color: @orange;
            }

            &.x1:after {
                content: "";
            }

            &.x2:after {
                content: "";
            }

            &.x3:after {
                content: "";
            }

            &.x4:after {
                content: "";
            }

            &.x5:after {
                content: "";
            }
        }

        .RatingNo {
            display: block;
            padding-left: 10px;
            color: @gray-light;
            padding-top: 7px;
        }

        .Price1 {
            color: #747880;
            line-height: 1.1;
        }

        .Price2, .Price3, .MarginPrice {
            color: #b2b2b2;
            line-height: 1.1;
        }

        .MarginValue {
            line-height: 1.1;

            &.Up {
                color: @green;
            }

            &.Down {
                color: @red;
            }
        }

        .FoundOnLists {
            margin: 0;
            margin-left: 15px;
            padding: 0;
            list-style-type: disc;
            color: #b2b2b2;
        }

        .Upgrade {
            display: block;
            color: @gray-light;
            font-size: 11px;
            padding-top: 5px;

            &:hover {
                color: @gray;
            }
        }
    }
}

/*#endregion */

/*#region Tutorial */

.Tutorial {
    display: none;
    height: 550px;
    margin-bottom: 100px;

    &.active {
        display: block;
    }

    .Step {
        display: none;
        position: relative;
        height: 550px;

        &.active {
            display: block;
        }

        .popover {
            position: absolute;
            display: block;
            max-width: 250px;
            padding: 15px;
            text-align: center;
            line-height: 1.5;
            margin-top: 40px;
            color: #747880;
            font-size: 13px;

            .point {
                height: 20px;
                width: 20px;
                position: absolute;
                left: 50%;
                margin-left: -10px;
                top: -40px;
                background-color: @green;
                border-radius: 50%;
                opacity: 0.75;
            }
        }

        .Navigation {
            position: absolute;
            bottom: 0px;
            right: 20px;
        }
    }

    .S1 {
        .P1 {
            max-width: 180px;
            top: -38px;
            left: 2px;

            .point, .arrow {
                left: 15px;
            }
        }

        .P2 {
            max-width: 210px;
            top: -37px;
            left: 310px;

            .point, .arrow {
                left: 50%;
            }
        }
    }

    .S2 {
        .WithBackground {
            background-color: #2e313a;
            text-align: center;

            .InnerWrapper {
                display: inline-block;
                position: relative;
            }
        }

        .P1 {
            max-width: 240px;
            top: 116px;
            left: 55px;

            .point, .arrow {
                left: 50px;
            }
        }

        .P2 {
            max-width: 260px;
            top: 217px;
            left: 403px;

            .point, .arrow {
                left: 50%;
            }
        }

        .P3 {
            max-width: 220px;
            top: 141px;
            left: 785px;

            .point, .arrow {
                left: 86%;
            }
        }
    }

    .S3 {
        .WithBackground {
            text-align: center;

            .InnerWrapper {
                display: inline-block;
                position: relative;
            }
        }

        .P1 {
            max-width: 240px;
            top: 220px;
            left: 5px;

            .point, .arrow {
                left: 33px;
            }
        }

        .P2 {
            max-width: 220px;
            top: 194px;
            left: 316px;

            .point, .arrow {
                left: 33px;
            }
        }
    }

    .S4 {
        .WithBackground {
            text-align: center;

            .InnerWrapper {
                display: inline-block;
                position: relative;
            }
        }

        .P1 {
            max-width: 170px;
            top: -38px;
            left: auto;
            right: 365px;

            .point, .arrow {
                left: 50%;
            }
        }

        .P2 {
            max-width: 210px;
            top: -38px;
            left: auto;
            right: 82px;

            .point, .arrow {
                left: 50%;
            }
        }
    }
}

/*#endregion */

/*#region ProductDetails PopUp*/

#detail-wrapper {
    z-index: 999999999;
    &.active {
        z-index: 999999999;
    }
}

.ProductDetails {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    width: 860px;
    margin-left: -430px;
    background-color: @body-bg;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 0 9999px rgba(40, 46, 58, 0.6);
    margin-bottom: 60px;
    z-index: 9999999999;

    .Header {
        background-color: @body-bg2;
        padding: 10px 5px;
    }

    .Product {
        @space: 8px;
        padding: 20px 5px;
        line-height: 1.3;
        color: @gray;
        margin-bottom: @space;

        .PDImage {
            width: 100%;
            height: 300px;
            border-radius: 7px;
        }

        .NoImage {
            background-color: #e1e8ef;
            width: 400px;
            height: 300px;
            border-radius: 5px;
            padding-top: 75px;

            .TopIcon {
                display: block;
                margin: 0 auto;
                width: 70px;
                height: 70px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGCAYAAABxLuKEAAACIUlEQVR42u3cvy8DYRzH8SPE0EgTMTepdDIZbGYmUweLBYmJoJMBg70/TLp1kZguJCRM/gOEwWZR2llioBLlc3HX9MfT3K8nzXP3fIb3emlfvT73vWd4DPPyxkBJlEcvqIl+Ncv6zlVUtC0MB+VBQ4x+WRZJw75TCNJZ3rD/PsTorGpouqa4rjkGEcQRhjCEIQxhCEMYwhCGMIQhTIT6QGeogEroCn3qDPONDlDC/N9xbG8CHZmSdwmiANNACwKQ7lZ0g9n1gOJU1gWmhsZ8wEyiLx1gyj5QnK51gNkOAFPUAWYjAExeB5hSAJhzHWCe0bAPlIQ9BCoJc4Hm0CJ6knC9VR8wh6o+ritdv7A1ld6HvOY7mvGAMm8Pg8rBVPrc9rJwltGQ4PqjKCdrfpENU3FZC2TgOGuO9QK5ibbQMXpT9SXSDUU2TiS2HbyiRA4nDMypT5RI4QSFqZnivZHY4ASF2QuBIhOnIftpFBZmVgJMWJwTNI5G0I6pyA5eShJMUBzRor+GfuIE4+DcSXgSSsNRBcYrjpfxQAqOSjBuOH5mptA4qsH0w/E7SIbGURGmGycIilMubjAOzn4IFMN+G7+NG4ys1gkjbpow4lKEIQxhCEMYwhCGMG2lIwSTHiRMNkIw2UHC1NESyqApRcvYn7E+SJjYRxjCEIYwhCEMYSIBw0MvemvymBRxrxZMgRA9FZyjmB6J0ap1FBMP7xIc3vUH15lQLgj6RNgAAAAASUVORK5CYII=);
            }

            .Title {
                display: block;
                text-align: center;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            a {
                display: block;
                margin: 0 auto;
                text-align: center;
                text-transform: uppercase;
                text-decoration: underline;
            }

            &.disabled {
                display: none;
            }

            &.active {
                display: block;
            }
        }

        .Name {
            color: #333740;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.2;
            padding-bottom: 5px;
        }

        .Brand, .Category, .AditionalInfo, .ReleaseDate {
            padding-top: @space;
        }

        .ReleaseDate, .AppeareDate b {
            font-weight: 600;
        }

        .Progres {
            position: relative;
            display: inline-block;
            width: 75px;
            height: 15px;
            border-radius: 15px;
            background-color: @gray-lighter;


            .Up, .Down {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 15px;
                border-radius: 15px;

                &.I1 {
                    border-radius: 50%;
                }
            }

            .Up {
                background-color: @green;
            }

            .Down {
                background-color: @red;
            }
        }

        .Trend {
            font-family: 'Flaticons Stroke';
            speak: none;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            margin-left: 3px;

            &:before {
                display: block;
                font-size: 20px;
                content: "";
                color: @gray-lighter;
            }

            &.Up {
                &:before {
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    color: @green;
                }
            }

            &.Down {
                &:before {
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    color: @red;
                }
            }
        }

        .Stars {
            display: block;
            margin: 0 auto;
            position: relative;
            font-family: 'Flaticons Solid';
            speak: none;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            font-size: 12px;
            cursor: default;

            &:before {
                content: "    ";
                color: @gray-lighter;
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                color: @orange;
            }

            &.x1:after {
                content: "";
            }

            &.x2:after {
                content: " ";
            }

            &.x3:after {
                content: "  ";
            }

            &.x4:after {
                content: "   ";
            }

            &.x5:after {
                content: "    ";
            }
        }

        .Demand, .Competition {
            display: inline-block;
            margin-top: @space * 2;
            margin-bottom: @space * 2;
        }

        .Demand {
            margin-right: 20px;
        }

        .Ratings {
            .RatingNo {
                padding-top: @space / 2;
                font-size: 13px;
            }
        }

        .Price {
            display: inline-block;
            margin-top: @space * 2;
            background-color: #26a0c8;
            border-radius: 5px;
            padding: 10px 13px;
            color: @white;
            font-size: 19px;
            font-weight: 600;
        }
    }

    .Shops {
        padding: 20px 5px;
        line-height: 1.3;
        color: @gray;

        table {
            background: #fff;
            width: 100%;
            border: 2px solid #d4dee0 !important;
            border-collapse: separate;
            border-radius: 5px;
            overflow: hidden;


            td {
                padding: 12px;
            }

            thead {
                tr {
                    background: #fff;
                }

                td {
                    border-bottom: 2px solid #ededee;
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            tbody {
                tr:nth-child(odd) {
                    background: #e8f0f2;
                }

                td {
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }

    .ChartBox {
        padding: 20px 5px;
        color: @gray;

        .Head {
            margin-bottom: 20px;

            .Title {
                font-size: 16px;
                font-weight: 600;
            }

            .Range {
                color: #a6bdc3;
                font-size: 13px;
                font-weight: 600;
            }

            .Legend {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0px;
                    }

                    i {
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        border-radius: 2px;
                        margin-right: 10px;
                        vertical-align: top;
                        margin-top: -1px;
                    }
                }
            }
        }
    }

    .ChartDemandCompetition, .ChartPriceRatings {
        height: 250px;
    }
}

/*#endregion */