/*#region Fonts */
@font-face {
  font-family: 'Gotham Rounded';
  font-style: normal;
  font-weight: lighter;
  src: url('/Assets/Font/GothamRounded-Light.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/GothamRounded-Light.otf') format('opentype'), url('/Assets/Font/GothamRounded-Light.woff') format('woff'), url('/Assets/Font/GothamRounded-Light.ttf') format('truetype'), url('/Assets/Font/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
}
@font-face {
  font-family: 'Gotham Rounded';
  font-style: normal;
  font-weight: normal;
  src: url('/Assets/Font/GothamRounded-Book.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/GothamRounded-Book.otf') format('opentype'), url('/Assets/Font/GothamRounded-Book.woff') format('woff'), url('/Assets/Font/GothamRounded-Book.ttf') format('truetype'), url('/Assets/Font/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
}
@font-face {
  font-family: 'Gotham Rounded';
  font-style: normal;
  font-weight: 600;
  src: url('/Assets/Font/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/GothamRounded-Medium.otf') format('opentype'), url('/Assets/Font/GothamRounded-Medium.woff') format('woff'), url('/Assets/Font/GothamRounded-Medium.ttf') format('truetype'), url('/Assets/Font/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
}
@font-face {
  font-family: 'Gotham Rounded';
  font-style: normal;
  font-weight: bold;
  src: url('/Assets/Font/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'), url('/Assets/Font/GothamRounded-Bold.otf') format('opentype'), url('/Assets/Font/GothamRounded-Bold.woff') format('woff'), url('/Assets/Font/GothamRounded-Bold.ttf') format('truetype'), url('/Assets/Font/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
}
/*#endregion */
/*#region Responsive Templates */
/*#endregion */
/*#region Layout */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #343741;
  font-size: 14px;
  line-height: 1;
  font-family: 'Gotham Rounded', sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #e8f0f2;
}
a {
  text-decoration: none;
  color: #26a0c8;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
  color: #45b7dc;
}
/*#endregion */
/*#region Shared */
/*#region Colors */
/*#region Variables */
/*#endregion */
/*#region Classes */
.white {
  color: #ffffff !important;
}
a[class~="white"]:hover {
  color: #ffffff !important;
}
.white-bg {
  background-color: #ffffff !important;
}
.gray-lighter {
  color: #d8e2e5 !important;
}
a[class~="gray-lighter"]:hover {
  color: #9bb4bc !important;
}
.gray-lighter-bg {
  background-color: #d8e2e5 !important;
}
.gray-light {
  color: #96a7ac !important;
}
a[class~="gray-light"]:hover {
  color: #61757b !important;
}
.gray-light-bg {
  background-color: #96a7ac !important;
}
.gray {
  color: #747880 !important;
}
a[class~="gray"]:hover {
  color: #44464a !important;
}
.gray-bg {
  background-color: #747880 !important;
}
.gray-dark {
  color: #282b34 !important;
}
a[class~="gray-dark"]:hover {
  color: #000000 !important;
}
.gray-dark-bg {
  background-color: #282b34 !important;
}
.blue {
  color: #26a0c8 !important;
}
a[class~="blue"]:hover {
  color: #165b72 !important;
}
.blue-bg {
  background-color: #26a0c8 !important;
}
.red {
  color: #f56e74 !important;
}
a[class~="red"]:hover {
  color: #ed101a !important;
}
.red-bg {
  background-color: #f56e74 !important;
}
.green {
  color: #3dc054 !important;
}
a[class~="green"]:hover {
  color: #247332 !important;
}
.green-bg {
  background-color: #3dc054 !important;
}
.yellow {
  color: #f1c40f !important;
}
a[class~="yellow"]:hover {
  color: #927608 !important;
}
.yellow-bg {
  background-color: #f1c40f !important;
}
.orange {
  color: #f39c12 !important;
}
a[class~="orange"]:hover {
  color: #976008 !important;
}
.orange-bg {
  background-color: #f39c12 !important;
}
/*#endregion */
/*#endregion */
/*#region Styles */
.mr10 {
  margin-right: 10px!important;
}
.mt-5 {
  margin-top: -5px !important;
}
.mt10 {
  margin-top: 10px!important;
}
.mt20 {
  margin-top: 20px!important;
}
.mt30 {
  margin-top: 30px!important;
}
.mb5 {
  margin-bottom: 5px!important;
}
.mb10 {
  margin-bottom: 10px!important;
}
.mb20 {
  margin-bottom: 20px!important;
}
.pr25 {
  padding-right: 25px!important;
}
.pr30 {
  padding-right: 30px!important;
}
.pr35 {
  padding-right: 35px!important;
}
.pt5 {
  padding-top: 5px!important;
}
.pt10 {
  padding-top: 10px!important;
}
.pt12 {
  padding-top: 12px!important;
}
.pb10 {
  padding-bottom: 10px!important;
}
.pb20 {
  padding-bottom: 20px!important;
}
.ptb5 {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.ptb10 {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.ptb20 {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.fwm {
  font-weight: 600!important;
}
.tdu {
  text-decoration: underline!important;
}
.tdu:hover {
  text-decoration: underline!important;
}
.w40h40 {
  width: 40px;
  height: 40px;
}
.ibm {
  display: inline-block !important;
  vertical-align: middle!important;
}
.form-input-info {
  color: #96a7ac;
  font-size: 12px;
  font-weight: normal;
  padding-top: 7px;
}
.ibox-little {
  display: inline-block;
  background-color: #96a7ac;
  color: #282b34;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 4px;
  margin-top: -5px;
}
/*#endregion */
/*#endregion */
/*#region MainHeader */
.MainHeader {
  height: 70px;
  background-color: #282b34;
}
/*#endregion */
/*#region MainContent */
/*#endregion */
/*#region MainFooter */
.MainFooter {
  height: 70px;
}
/*#endregion */
